<mat-form-field [class.invalidValue]="isShowError()">
	<mat-label>Type</mat-label>
	<mat-select
		[value]="value()"
		[required]="isRequired()"
		(blur)="onBlur()"
		(closed)="onBlur()"
		(selectionChange)="onSelection($event)"
	>
		@if (!isRequired()) {
			<mat-option>-</mat-option>
		}

		@for (type of options(); track type.key) {
			<mat-option [value]="type.key">{{ type.text }}</mat-option>
		}
	</mat-select>
</mat-form-field>

<validation-error [error]="errorMessage()" [isShow]="isShowError()" />
