<mat-form-field [class.invalidValue]="isShowError()">
	<mat-label>{{ label() }}</mat-label>
	<mat-select
		[value]="value()"
		[required]="isRequired()"
		(blur)="onBlur()"
		(closed)="onBlur()"
		(selectionChange)="onSelection($event)"
	>
		@if (!isRequired()) {
			<mat-option>-</mat-option>
		}

		@for (option of options(); track option.key) {
			<mat-option [value]="option.key">{{ option.text }}</mat-option>
		}
	</mat-select>
</mat-form-field>

<validation-error [error]="errorMessage()" [isShow]="isShowError()" />
