<form [formGroup]="formGroup" class="form">
	<mat-form-field>
		<mat-label>Type</mat-label>
		<mat-select formControlName="type">
			@for (type of itemTypeOptions; track type.key) {
				<mat-option [value]="type.key">{{ type.text }}</mat-option>
			}
		</mat-select>
	</mat-form-field>

	<app-input controlValidation label="Name" placeholder="Enter name" formControlName="name"></app-input>

	<app-input controlValidation label="Price" type="number" formControlName="price"></app-input>

	<app-input controlValidation label="Ingame ID" formControlName="gameItemId"></app-input>

	<app-input controlValidation label="Description" formControlName="description"></app-input>

	<app-input controlValidation label="Additional info" formControlName="additionalInfo"></app-input>
</form>

<button (click)="onCancel()">Cancel</button>
<button (click)="onSubmit()">Add</button>
